<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2 style="text-align: center; background: cadetblue">Create Customer Table</h2>
    <a href="/show" class="btn btn-success">Home</a>
    <form action="/create" method="post">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>
                    <input name="userName" placeholder="nhap name">
                </td>
                <td>
                    <input name="passWord" placeholder="nhap password">
                </td>
                <td>
                    <input type="date"  name="createDate" placeholder="nhap ngày">
                </td>

            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-success">Create Customer</button>
    </form>
</div>

</body>
</html>